<!DOCTYPE html>
<html lang="zh-CN">
  {% include head.html %}
  <body>
     {% include header.html %}
    <div class="bs-docs-header" id="content">
      <div class="container home-background visible-md-block visible-lg-block" style="height:312px">
        <h1>起步</h1>
      </div>
    </div>

    <div class="container">
      <div class="row home-first-grid" style="margin-top:25px;">
         <div class="col-md-4">
          <h2>对金坷垃没兴趣</h2>
          <p style="min-height: 100px">金坷垃这么好的东西， 竟然没人喜欢。。太让人伤心了。 这个我能说什么呢。。无语啊。好吧， Jeklyy, Jeklyy, Jeklyy... </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>那么Ruby呢</h2>
          <p style="min-height: 100px">Ruby 这么好的东西，大家竟然没兴趣，没天理没天理没天理啊啊啊啊啊</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>别用php了</h2>
          <p style="min-height: 100px">七七七八八七七八八七七八八七七八八七七八八七七八八七七八八七七八八七七八八七七八八七七八八七七八八七七八八七七八八七七八八七七八八七七八八七七八八七七八八七八八</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
    <div class="page-content">
      <div class="wrapper">
          <!-- {{ content }} -->
      </div>
    </div>
    {% include footer.html %}
</div>
  </body>
</html>
